<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= pageTitle %> </title>
  <link rel="stylesheet" href="css/homepage.css">
</head>
<body>

  <section class="navbar-container">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo"> WellLearn </div>
    
      <div class="right-side-navbar">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="nav-buttons">
          <button class="join-btn">Join</button>
          <button class="login-btn">Log In</button>
        </div>
      </div>
      
    </nav>
  </section>
